.container {
  width: 1440px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.card:nth-child(1) {
  background-color: #e38826;
  width: 280px;
  max-height: 500px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card:nth-child(2) {
  background-color: #006970;
  width: 280px;
  max-height: 500px;
}

.card:nth-child(3) {
  background-color: #004241;
  width: 280px;
  max-height: 500px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card {
  padding: 35px;
}

.card img {
  padding: 15px;
}
.card h1 {
  padding: 15px;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
}

.card p {
  text-align: left;
  line-height: 25px;
  padding: 15px;
  color: #ffffff;
  opacity: 38%;
  font-size: 15px;
  font-family: "Lexend Deca";
  font-weight: 400;
}

.button {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 30px;
  width: 120px;
}

.botao {
  padding: 15px;
}

.cor1 {
  color: #e38826;
}

.cor2 {
  color: #006970;
}

.cor3 {
  color: #004241;
}
